* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: #e9edf7; */
  }

:root {
    --background-main: #D9D9D9;
    --waypoint-main: #dfedda;
    --waypoint-add: #6D6CBB;
    --waypoint-complete: #74D154;
    --font-main: #312727;
    --font-contrast: white;
}

body, html {
    height: 100%;
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* min-height: 100%; */
}


.App {
    background-color: var(--background-main);
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: red; */
}

.header, .timer, .waypoint {
    background-color: var(--waypoint-main);
}
.btn {
    border-radius: 50px;
    background-color: white;
    width: 90px;
    height: 90px;
    color: var(--font-main);
    cursor: pointer;
}

.header {
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 36px;
}

.airport-add {
    display: flex;
}

.airport-add-input {
    width: 80%;
    margin: auto;
    line-height: 50px;
    font-size: 26px;   
}

.airport-add > .btn {
    margin-top: auto;
    margin-bottom: auto;
}

/* Container */

.planner-body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: red; */
    height: 100%;
}
/* Waypoints */

.waypoint {
    background-color: var(--waypoint-main);
    width: 100%;
    height: 150px;
    text-align: center;
    /* border-bottom: 2px solid red; */
    display: flex;
    /* justify-content: space-between; */
}

.waypoint-content {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    /* background-color: red; */
    /* background-color: green; */
    width: 73%;
}

.waypoint-cell {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    max-width: 25%;
    min-width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.waypoint-desc {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    word-wrap: break-word;
}
.waypoint-pending {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.waypoint-add {
    background-color: var(--waypoint-add);
    /* background-color: red; */
    color: white;
    justify-content: flex-start;
}

.waypoint-add > p {
    font-size: 48px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.waypoint-add > .btn {
    margin-right: 65px;
    margin-top: auto;
    margin-bottom: auto;
}


.waypoint-add-menu {
    background-color: var(--waypoint-add);
    display: flex;
    flex-direction: column;
    color: var(--font-main);
}

.waypoint-add-menu-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: var(--font-contrast);
}

.waypoint-add-menu-row > input {
    width: 80%;
    margin: auto;
    line-height: 50px;
    font-size: 26px;
}

.waypoint-add-menu-row > label {
    margin-left: 50px;
    font-size: 26px;
}

.waypoint-add-btn {
    /* margin-left: 550px; */
    margin: 25px 550px;
}

/* Timer */

.timer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 150px;
    font-size: 42px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.timer-display {
    font-size: 96px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.timer-icon {
    width: 100px;
    height: 100px;
    margin: auto;
}